{% extends 'layouts/app.twig' %}

{% block script %}
    <script src="/assets/js/app/movie/coolmoviez.js"></script>
    {% include 'js-templates/link-extraction.twig' %}
{% endblock script %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a target="_blank" href="https://coolmoviez.shop">CoolMoviez</a> Extractor
        </div>
        <div class="card-body">
            <div class="card-text">
                <div>
                    <i class="fa fa-lightbulb text-warning"></i> Visit <a target="_blank" href="https://coolmoviez.shop">CoolMoviez</a>,
                    copy movie link and paste it in the input field below.
                </div>
                <div class="font-italic mt-1">Link sample:
                    <b>https://www.coolmoviez.shop/movie/4715/Megafault_(2009)_english_movie.html</b></div>
            </div>
            <div id="link-extraction-status" class="mt-4"></div>
            <form class="mt-4" id="form-coolmoviez">
                <div class="input-group">
                    <input type="url" name="coolmoviez-url" class="form-control"
                           placeholder="https://www.coolmoviez.shop/movie/4715/Megafault_(2009)_english_movie.html">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-md btn-indigo m-0">
                            <i class="fa fa-search"></i> Fetch
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

