{% extends 'layouts/app.twig' %}

{% block script %}
    <script src="/assets/js/app/movie/fzmovies.js"></script>
    {% include 'js-templates/link-extraction.twig' %}
{% endblock script %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a target="_blank" href="https://fzmovies.net">FZMovies</a> Extractor
        </div>
        <div class="card-body">
            <div class="card-text">
                <div>
                    <i class="fa fa-lightbulb text-warning"></i> Visit <a target="_blank" href="https://fzmovies.net">Fzmovies</a>,
                    copy movie link and paste it in the input field below.
                </div>
                <div class="font-italic mt-1">Link sample:
                    <b>https://fzmovies.net/movie-The%20Equalizer%20--hmp4.htm</b></div>
            </div>
            <div id="link-extraction-status"></div>
            <form class="mt-3" id="form-fzmovies">
                <div class="form-group">
                    <label for="fzmovies-url" class="mb-0 text-muted">Movie Address/URL:</label>
                    <input id="fzmovies-url" type="url" name="fzmovies-url" class="form-control"
                           placeholder="https://fzmovies.net/movie-The%20Equalizer%20--hmp4.htm">
                </div>

                <div class="row mt-2">
                    <div class="col-md">
                        <label for="quality" class="mb-0 text-muted">Quality:</label>
                        <select id="quality" name="quality" class="form-control">
                            <option value="0">480p</option>
                            <option value="1">720p</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <label for="chosen" class="mb-0 text-muted">Download Links:</label>
                        <select id="chosen" name="chosen" class="form-control">
                            <option value="0">Link 1</option>
                            <option value="1">Link 2</option>
                            <option value="2">Link 3</option>
                            <option value="3">Link 4</option>
                        </select>
                    </div>
                </div>
                <div class="mt-3 text-right">
                    <button type="submit" class="btn btn-md btn-indigo m-0 z-depth-0 ml-1">
                        <i class="fa fa-search"></i> Fetch
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

