{% extends 'layouts/app.twig' %}

{% block contents %}
    <div class="card card-danger">
        <div class="card-header bg-danger text-white">
            404(Not Found)
        </div>
        <div class="card-body text-danger font-weight-bolder">
            The requested resources does not exists.<br/>
            <a href="/">Let's go home</a>
        </div>
    </div>
{% endblock contents %}