parameters:
    level: 6
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#Cannot assign offset (.*) to string.#'
        - '#string does not accept array.#'
    paths:
        - public/index.php
        - app
        - resources
        - storage