{% extends 'layouts/app.twig' %}

{% block contents %}
    <div class="card">
        <div class="card-header">CONTACT US</div>
        <div class="card-body">
            <div class="list-group">
                <a href="/contact/send-message" class="list-group-item list-group-item-action text-uppercase border-info">
                    <i class="fa fa-envelope"></i> Message us
                </a>
            </div>
        </div>
    </div>
{% endblock contents %}