{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="card">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="list-group">
                <a href="/search/fzmovies" class="list-group-item list-group-item-action">
                    <span>
                        <div class="d-flex justify-content-between">
                            <span>
                                <i class="fa fa-film"></i>
                                Fzmovies.net
                            </span>
                            <span>Movies</span>
                        </div>
                    </span>
                </a>
                <a href="/search/480mkvcom" class="list-group-item list-group-item-action">
                    <span>
                        <div class="d-flex justify-content-between">
                            <span>
                                <i class="fa fa-tv"></i>
                                480mkv.com
                            </span>
                            <span>Series</span>
                        </div>
                    </span>
                </a>
                <a href="/search/mobiletvshows" class="list-group-item list-group-item-action">
                    <span>
                        <div class="d-flex justify-content-between">
                            <span>
                                <i class="fa fa-tv"></i>
                                MobileTvShows.net
                            </span>
                            <span>Series</span>
                        </div>
                    </span>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}