{% extends 'layouts/admin.twig' %}

{% block script %}
    <script src="/assets/js/app/admin/error.js"></script>
    <script src="/assets/js/sweetalert.min.js"></script>
{% endblock script %}

{% block content %}
    <div class="card">
        <div class="card-header left-border d-flex justify-content-between">
            <div class="p-3 font-weight-bolder text-primary text-uppercase">Errors & Exceptions</div>
            <div>
                <button id="btn-delete-all" type="button" class="btn btn-md btn-danger font-weight-bold">
                    <i class="fa fa-trash-alt"></i> Delete All
                </button>
            </div>
        </div>
        <div class="card-body left-border p-4 z-depth-1 font-italic">
            <div class="list-group" id="errors">
                {% for error in page.errors  %}
                    <a data-error="{{ error|json_encode }}" class="list-group-item list-group-item-action" onclick="viewError(this)">
                        <div class="d-flex justify-content-between">
                            <div>
                                <i class="fa fa-bug"></i>
                                <b>{{ error.file }}</b>
                            </div>

                            <div>
                                <i class="fa fa-clock"></i>
                                {{ error.time|date('M/d D - H:i:s') }}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}