{% verbatim %}
    <template id="template-link-extraction-success">
        <div class="alert alert-success p-3 d-flex justify-content-between">
            <span>Link extracted successfully <i class="fa fa-check-circle text-success"></i></span>
            <div><a href="{{href}}"><i class="fa fa-download"></i> {{name}}</a></div>
        </div>
    </template>

    <template id="template-link-extraction-error">
        <div class="alert alert-danger z-depth-2 p-3">
            <i class="fa fa-exclamation-circle text-danger"></i> Link extraction failed!
        </div>
    </template>

    <script>
        let templateLinkExtractionSuccess = Handlebars.compile($('#template-link-extraction-success').html());
        let templateLinkExtractionError = Handlebars.compile($('#template-link-extraction-error').html());
    </script>
{% endverbatim %}