{% extends 'layouts/app.twig' %}

{% block scripts %}
    <script src="/assets/js/app/tvshows/480mkv-com.js"></script>
    {% include 'js-templates/link-extraction.twig' %}
{% endblock scripts %}

{% block contents %}
    <div class="card">
        <div class="card-header">
            <a href="https://480mkv.com">480mkv.com</a> Extractor
        </div>
        <div class="card-body">
            <div class="card-text">
                <div>
                    <i class="fa fa-lightbulb text-warning"></i> Visit <a href="https://f480mkv.com">480mkv.com</a>,
                    copy movie link and paste it in the input field below.
                </div>
                <div class="font-italic mt-1">Link sample:
                    <b>https://tvshows.480mkv.com/grand-army-2020-season-1-complete-480p-webrip-all-episodes/</b></div>
            </div>
            <div id="link-extraction-status" class="mt-4"></div>
            <form class="mt-4" id="form-femkvcom">
                <div class="input-group">
                    <input type="url" name="femkvcom-url" class="form-control"
                           placeholder="https://tvshows.480mkv.com/grand-army-2020-season-1-complete-480p-webrip-all-episodes/">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-md btn-indigo m-0">
                            <i class="fa fa-search"></i> Fetch
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock contents %}

