{% extends 'layouts/app.twig' %}

{% block script %}
    <script src="/assets/js/app/tvshows/o2tvseries-com.js"></script>
    {% include 'js-templates/link-extraction.twig' %}
{% endblock script %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <a target="_blank" href="https://o2tvseries.com">O2TVSeries.com</a> Extractor
        </div>
        <div class="card-body">
            <div class="card-text">
                <div>
                    <i class="fa fa-lightbulb text-warning"></i> Visit <a target="_blank" href="https://o2tvseries.com">O2TVSeries.com</a>,
                    copy movie link and paste it in the input field below.
                </div>
                <div class="font-italic mt-1">Link sample:
                    <b>https://o2tvseries.com/The-Crown-8/index.html</b></div>
            </div>
            <div id="link-extraction-status" class="list-group"></div>
            <form class="mt-2" id="form-o2tvseriescom">
                <div class="input-group">
                    <input type="url" name="o2tvseriescom-url" class="form-control"
                           placeholder="https://o2tvseries.com/The-Crown-8/index.html">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-md btn-indigo m-0">
                            <i class="fa fa-search"></i> Fetch
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

